<%- include('partials/head') %> 

  <body>
    <%- include('partials/navbar') %> 

    <h1>Homepage <%= 4+5+1%></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium porro accusamus dolorum ipsa similique facere incidunt temporibus
      aliquam magnam voluptatibus voluptate, sint aperiam quod veritatis rerum quae minus corporis cumque.
    </p>
  </body>
</html>
